.profile__add-btn {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
  outline: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: relative;
}

.profile__add-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-btn::before,
.profile__add-btn::after {
  content: "";
  width: 22px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 11px);
}

.profile__add-btn::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 964px) {
  .profile__add-btn {
    width: 225px;
  }
}

@media (max-width: 426px) {
  .profile__add-btn {
    width: 100%;
  }

  .profile__add-btn::before,
  .profile__add-btn::after {
    width: 16px;
    left: calc(50% - 8px);
  }
}
