@import url(./__copyright/footer__copyright.css);

.footer {
  width: 69%;
  margin: 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 49px 0 60px;
}

@media (max-width: 964px) {
  .footer {
    width: 88%;
  }
}

@media (max-width: 426px) {
  .footer {
    padding: 36px 0 36px;
  }
}
