@import url(././__logo/header__logo.css);

.header {
  width: 69%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 41px 3px 39px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 964px) {
  .header {
    width: 88%;
  }
}

@media (max-width: 426px) {
  .header {
    width: 100%;
    padding: 34px 26px 31px;
  }
}
