.menu-toggle__icon {
  position: relative;
  width: 24px;
  height: 3px;
  background: #fff;
  display: block;
  box-shadow: 0 -9px 0 #fff, 0 9px 0 #fff;
  transition: box-shadow 0.25s linear 0.25s, transform 0.25s linear, width 0.25s linear;
}

.menu-toggle__icon::before {
  content: '';
  position: absolute;
  width: 24px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transform: rotate(0);
  transition: transform 0.25s linear, width 0.25s linear;
}

.menu-opened .menu-toggle__icon {
  width: 30px;
  box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  transform: rotate(45deg);
  transition: box-shadow 0.25s linear, transform 0.25s linear 0.25s, width 0.25s linear 0.25s;
}

.menu-opened .menu-toggle__icon::before {
  width: 30px;
  transform: rotate(90deg);
  transition: transform 0.25s linear 0.25s, width 0.25s linear 0.25s;
}
